<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>PESTICIDES STORE</title>
    <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="../../Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="../../Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../../Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="../../Content/js/simpleCart.min.js"> </script>



</head>
<body>

    <div class="header">
        <div class="header-top">
            <div class="container">
               <div class="container">
                   
                   <h3 style="font-style: italic"><span>We offer you Pests free farming!!</span></h3>

                   <br>
                    

                    <div class="clearfix"> </div>
                <div class="clearfix"> </div>
                <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
                <div class="clearfix"> </div>
                <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <h1><a href="../../Home/index">PESTICIDES STORE</a></h1>
                </div>
                <div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li><a class="color8" href="../../Home/index">Home</a></li>
                        <li><a class="color4" href="../../Home/login">Admin</a></li>
                        
                        <li><a class="color6" href="../../Home/contact">FeedBack</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>








    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)






    <!--Footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">


                <div class="col-md-3 amet-sed ">
                    <h2>CONTACT US</h2>
                    <p>Contrary to popular belief</p>
                    <p>The Pesticides Store</p>
                    <p>Pakpattan, lahore</p>
                    <p>Pakistan.</p>
                    <p>office :  +92 30 069 449 08</p>
                </div>

                
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2016 PesticidesStore . All Rights Reserved | Design by <a href="../../Home/cv" target="_blank"> Habiba Akram</a></p>
        </div>
    </div>


</body>
</html>
